<ion-modal-view >
    <ion-header-bar>
        <!--titulo-->
        <h1 class="title">{{ 'scp' | translate }}</h1>
        <!--boton cerrar modal-->
        <div class="buttons">
            <button class="button button-clear" ng-click="doLogin()">{{ 'cr' | translate }}</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div ng-if="!conexion_internet_escaner" class="estilo_conexion_internet">
            <center>{{ 'sinconexion' | translate }}</center>
        </div> 
        <!--boton iniciar scan-->
        <button class="button button-full button-positive" 
                ng-click="startScan()">{{ 'es' | translate }}</button>
        <!--presentar spinner si demora la busqueda-->
        <center ng-show="cargando"> <ion-spinner icon="android"></ion-spinner> </center>

        <!--producto contrado-->
        <ion-item class="item-remove-animate item-avatar item-icon-right"
                  ng-repeat="producto in resultadoproducto" 
                  type="item-text-wrap">

            <img ng-if="producto.imagen"
                 src="http://shoplist-shoplistrk.rhcloud.com/img/files/{{producto.imagen}}">

            <h2>{{producto.nom_prod}}   </h2>
            <h3>$ {{producto.pvp_prod}} </h3>
            <!--boton para agregar a la lista el producto encontrado-->
            <button class="button button-icon icon ion-ios-cart-outline color_iconos"
                    ng-controller="productosCtrl"
                    ng-click="insertProductosCodebar(producto)"></button>
        </ion-item>
    </ion-content>
</ion-modal-view>
