<ion-view  view-title="{{ 'perfil' | translate }}"   ng-controller="lenguajeCtrl">


    <ion-nav-buttons side="right">
        <button ng-click="showPerfil()"
                class="button button-icon icon ion-edit calm"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="left">
        <button menu-toggle="rigth" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

	<ion-content>
		<div class="list card" ng-init="cargarDatosUser()">

		  <div ng-if="mostrarPerfil">
			  <div class="item item-avatar text-center">
			    <h2>{{usuario.nombres}}</h2>
			    <p>{{usuario.apellidos}}</p>
			  </div>

			  <div class="item item-body">
			    <!--<img class="full-image" src="delorean.jpg">-->
			   <div class="list card">
				  <a  class="item item-icon-left">
				    <i class="icon ion-ios-email-outline"></i>
				    {{usuario.email}}
				  </a>
				</div>
			  </div>
		  </div>

		<div class="list card" ng-show="editarPerfil">
			<a class="item item-icon-left">
			    <i class="icon ion-ios-paper-outline"></i>
			    <label class="item item-input">
    				<input id="nombres"
    					ng-model="usrEdit.nombres"
    					type="text"
    					placeholder="{{ 'nombre' | translate }}">
  				</label>
			</a>

			<a  class="item item-icon-left">
			    <i class="icon ion-ios-paper-outline"></i>
			    <label class="item item-input">
    				<input id="apellidos"
    					ng-model="usrEdit.apellidos"
    					type="text"
    					placeholder="{{ 'apellido' | translate }}">

  				</label>
			</a>
			<a  class="item item-icon-left">
			    <i class="icon ion-ios-email-outline"></i>
			    <label class="item item-input">
    				<input id="correo"
    					ng-model="usrEdit.email"
    					type="email"
    					placeholder="{{ 'correo' | translate }}">
  				</label>
			</a>
			<a  class="item item-icon-left">
			    <i class="icon ion-ios-email-outline"></i>
			    <label class="item item-input">
    				<input id="telefono"
    					ng-model="usrEdit.telefono"
    					type="text"
    					placeholder="Telefono">
  				</label>
			</a>

			<div class="list card">
			  <a class="item item-icon-left"
			  	 ng-click="mostrarActualizar()">
			    <i class="icon ion-ios-settings"></i>
			    {{ 'actualizar_contrasenia' | translate }}
			  </a>
			</div>

			 <a ng-if="showActualizar" class="item item-icon-left item-icon-right">
			    <i class="icon ion-ios-gear-outline"></i>
			     <label class="item item-input">
    				<input ng-model="usrEdit.password" type="password"
    					placeholder="{{ 'contrasenia_nueva' | translate }}">
  				</label>
			  </a>
		</div>
		<!--div para separar contet del menu del boton guardar-->
		<div class="paddigMenu"></div>
    </ion-content>

	<div ng-if="editarPerfil" class="tabs tabs-icon-top barra_bottom">
        <a  class="tab-item color_iconos" ng-click="actualizarPerfil(usrEdit)"> 
        	<i class="icon ion-android-checkbox-outline"></i>{{ 'g' | translate }}"</a>
    </div>


</ion-view>
