<ion-view  view-title="{{ 'manual' | translate }}" ng-controller="lenguajeCtrl">
    <!--boton de menu -->
    <ion-nav-buttons side="left">
        <!-- boton menu izquierdo -->
        <button menu-toggle="rigth" class="button button-icon icon ion-navicon"></button>
        <button  menu-toggle="rigth" class="button button-icon icon ion-arrow-left-a"></button>
    </ion-nav-buttons>  
    <!--contenedor-->
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" href="#"
                ng-click="verInicio()">
                <i class="icon ion-social-buffer calm"></i>
                {{ 'inicio' | translate }}
            </a>

            <!--insertar el manual-->                
            <div ng-if="inicio"
                 ng-include="'./templates/manual/inicio.html'"></div>

            <a class="item item-icon-left"
                href="#"
                ng-click="verSupermercados()">
                <i class="icon ion-ios-browsers calm"></i>
                {{ 'supermercados' | translate }} 
            </a>

            <div ng-if="supermercados"
                 ng-include="'./templates/manual/supermercados.html'"></div>

             <a class="item item-icon-left"
                href="#"
                ng-click="verListas()">
                <i class="icon ion-clipboard calm"></i>
                {{ 'listasm' | translate }}
            </a>

            <div ng-if="listas"
                 ng-include="'./templates/manual/listas.html'"></div>

            <a class="item item-icon-left" href="#"
                ng-click="verPerfil()">
                <i class="icon ion-person calm"></i>
                {{ 'perfil' | translate }}
            </a>

            <div ng-if="perfil"
                 ng-include="'./templates/manual/perfil.html'"></div>
        </div>
           
    </ion-content>
</ion-view>
