<ion-view view-title="{{productSelect.nombre}}" ng-controller="productosCtrl"  
    ng-init="habilitarCampos(productSelect); cargar_Ubicacion(productSelect)" >  

    <ion-nav-bar  class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> {{ 'atras' | translate }}
        </ion-nav-back-button>
    </ion-nav-bar>

    <!--contenedor para el detalle de un producto-->
    <ion-content class="padding">

        <div class="list card">
            <center>
                <!--img-->
                <div ng-if="productSelect.imagen">
                    <img src="http://shoplist-shoplistrk.rhcloud.com/img/files/{{productSelect.imagen}}" 
                        height="100" width="100">
                </div>
                <img ng-if="!productSelect.imagen"  src="img/imagenotfound.png" height="100" width="100">

            <!--Nombre Producto -->
            </center>
            <label class="item item-input item-stacked-label item-icon-right">

                <input type="text"
                       ng-disabled="{{disable}}"
                       placeholder="{{ 'np' | translate }}" 
                       ng-model="productSelect.nombre"
                       value="{{productSelect.nombre}}">

                <i class="icon ion-card"></i>
            </label>
            <!--Precio-->
            <label class="item  item-input item-stacked-label item-icon-right">
                <input type="tel" 
                       ng-disabled="{{disable}}"
                       placeholder="$ {{'preciounitario'| translate }}"
                       ng-model="productSelect.precio"
                       value="{{productSelect.precio}}">

                <i class="icon ion-cash "></i>
            </label>
            <!--controlador de cantidad consumir-->
            <a class="item item-icon-left item-icon-right  ">
                {{ 'ca' | translate }}
                <i class="icon ion-ios-minus-outline" ng-click="disminuirCantidad()"></i>
                <input disabled="true" type="number" 
                       ng-model="productSelect.cantidad" 
                       value="{{productSelect.cantidad}}">

                <i class="icon ion-ios-plus-outline" ng-click="aumentarCantidad()"></i>
            </a>

        </div>
        <!--presentar localizacion del producto-->

        <div class="list card" ng-if="servicioUbicacionProd">
            <div class="item item-avatar">
                <img src="img/google-maps-icon.png">
                <h2>{{ 'ubn' | translate }}</h2>
                 <span ng-if="estadoUbicacion" 
                       style="color: red">{{ 'ubicacionnoecnontrada' | translate }}
                </span>
            </div>

            <div class="item item-body">
                <!--<img class="full-image" src="delorean.jpg">-->
                <div class="card">
                    <div class="item item-text-wrap" ng-repeat=" producto in ubicacionPoducto">
                        <div class="list">
                            <!--detalles de ubicacion del producto-->
                            <div class="item item-divider">
                                {{ 'seccion' | translate }}
                            </div>
                            <a class="item" href="#">
                                {{producto.nombre}}
                            </a>
                            <div class="item item-divider">
                                {{ 'pi' | translate }}
                            </div>
                            <a class="item" href="#">
                                {{producto.numeroPiso}}
                            </a>
                            <div class="item item-divider">
                                {{ 'pa' | translate }}
                            </div>
                            <a class="item" href="#">
                                {{producto.pasillo}}
                            </a>
                            <div class="item item-divider">
                                {{ 'corredor' | translate }}
                            </div>
                            <a class="item" href="#">
                                {{producto.corredor}}
                            </a>
                            <div class="item item-divider">
                                {{ 'ne' | translate }}
                            </div>
                            <a class="item" href="#">
                                {{producto.numeroEstante}}
                            </a>
                        </div> <!--./list-->
                    </div> <!--./item product-->
                </div>
            </div> <!--./content de producto-->
        </div>
    </ion-content>
<!--guardar en caso de editar la cantidad del producto a consumir-->
    <div class="tabs tabs-icon-top barra_bottom">
        <a class="tab-item color_iconos" ng-click="updateProducto(productSelect); getAllProductos(); myGoBack()" > <i class="icon ion-ios-albums"></i>{{ 'g' | translate }}</a>
    </div>

</ion-view>
