<!--lista de productos pertenecientes a una lista-->
<ion-view  view-title="  Total $: <output id='valorTotalPagar' class='tituloprecio' ></output>"  
    ng-init="doRefresh();
        existeInternetScan()">
   <!--boton para retroceder en la vista-->
    <ion-nav-bar  class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> {{ 'atras' | translate }}
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <button ng-controller="SeguimientoListaCtrl" 
                ng-click="goSeguimiento(lista)" 
                class="button button-icon icon ion-ios-speedometer-outline calm"></button>
    </ion-nav-buttons>

    <ion-content class="padding contenedor_reducir">
        <!--presentar el nombre de la lista-->
        <a class="item item-icon-left disableActivate">
            <i class="icon ion-clipboard calm"></i>
            <center> {{lista.nombre}} </center>      
        </a>
        <!--refrescar en la vista-->
        <ion-refresher
            on-refresh="doRefresh()"
            refreshing-icon="ion-load-c">
        </ion-refresher>

        <ion-list>
            <!--lista de todos los productos pertenecientes a la lista-->
            <ion-item  class="item-remove-animate item-thumbnail-left item-icon-right" 
                ng-repeat="producto in getProductos" type="item-text-wrap">
                <!--img-->
                <img ng-if="producto.imagen && conexion_internet_escaner" 
                    src="http://shoplist-shoplistrk.rhcloud.com/img/files/{{producto.imagen}}">
                <img ng-if="!producto.imagen" src="img/carrito.png">
                <!--nombre del producto-->
                <h2 style="margin-top: 16px;" >{{producto.nombre}}</h2>

                <!--detalles producto (cantidad a consumir y precio)-->
                <span class="item-note ">
                     $ : {{producto.precio}}
                    <button class=" ion-checkmark-round border_check balanced barra_bottom" 
                        ng-if="producto.comprado == 'false'" type="button" 
                        ng-click="updateProductoComprado(producto, $id)" id="{{$id}}"></button>
                    <button class=" ion-close-round border_check assertive barra_bottom" 
                        ng-if="producto.comprado == 'true'" type="button" value="des" 
                        ng-click="updateProductoComprado(producto, $id)" id="{{$id}}"></button>
                </span>

                <span class="item-note ">
                    {{ 'ca' | translate }} : {{producto.cantidad}} ud(s).
                </span>

                <a class="producto_ref" href="#/productoslist/{{producto.id}}">
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
                <ion-option-button class="button-assertive" ng-click="deleteProductos(producto)">
                    {{ 'el' | translate }}
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
    <div class="tabs tabs-icon-top barra_bottom">
        <!--escanear-->
        <a  ng-controller="escanearCtrl" 
            class="tab-item color_iconos"
            ng-click="login();
                      existeInternetScan();
                     ocultarCampo()"> 
                <i class="icon ion-ios-barcode-outline"></i>{{ 'es' | translate }}</a>
          <!--buscar producto para agregar-->          
        <a  ng-controller="buscarCtrl"
            class="tab-item color_iconos"
            ng-click="login();
                    resetValues();
                    existeInternetScan();
                    ocultarCampo()">
            <i class="icon ion-ios-compose-outline"></i>{{ 'ag' | translate }}</a>

        <a  ng-controller="enviarListaCtrl"
            class="tab-item color_iconos" 
            ng-click="pagarLista(lista , getProductos)"
            ng-if="servicioCompras">
            <i class="icon ion-cash"></i>{{ 'comprar' | translate }}
        </a>
    </div>
</ion-view>
