<ion-view  view-title="{{'seguimiento' | translate}}"   ng-controller="lenguajeCtrl">

	<ion-nav-bar  class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> {{ 'atras' | translate }}
        </ion-nav-back-button>
	</ion-nav-bar>
	
<ion-content class="padding" ng-init="cargarEstadolista()">

	<a ng-if="!estado_despachada" class="item item-icon-left" href="#">
        <i class="icon ion-ios-timer-outline calm"></i>
        <div class="item item-body">
		    <center> 
		    	<p>{{'mensajeinicial' | translate}} </p>
		    </center>
		  </div>
              
    </a>

<div ng-if="estado_inicial">
	<button class="button button-block button-calm">
	  {{'enespera' | translate}}
	</button>

	<button class="button button-block button-stable">
	  {{'enprogreso' | translate}}
	</button>

	<button class="button button-block button-stable">
	  {{'listadespachada' | translate}}
	</button>

</div>
<div ng-if="estado_proceso">
	<button class="button button-block button-stable">
	  {{'enespera' | translate}}
	</button>

	<button class="button button-block button-calm">
	  {{'enprogreso' | translate}}
	</button>

	<button class="button button-block button-stable">
	  {{'listadespachada' | translate}}
	</button>

</div>
<div ng-if="estado_despachada">
	<button class="button button-block button-stable">
	  {{'enespera' | translate}}
	</button>

	<button class="button button-block button-stable">
	  {{'enprogreso' | translate}}
	</button>

	<button class="button button-block button-calm">
	  {{'listadespachada' | translate}}
	</button>

	<div>

	<a class="item item-icon-left" href="#">
        <i class="icon ion-android-checkmark-circle calm"></i>
        <center> <p>{{'pedidolisto' | translate}} </p></center>      
    </a>
	</div>
</div>

</ion-content>

</ion-view>



