<ion-view view-title="{{ 'promo' | translate }}" ng-init="cargar_promociones();
        existeInternetPromocion()" ng-controller="lenguajeCtrl">

    <ion-nav-buttons side="left">
        <button menu-toggle="rigth" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons> 

    <ion-content class="contenedor_reducir">


        <a class="item item-icon-left" href="#">
            <i class="icon ion-filing"></i>
            {{ 'promod' | translate }} 
            <span class="badge badge-positive">{{numero_promociones}}</span>
        </a>


        <div ng-if="!conexion_internet_promociones" class="estilo_conexion_internet">
            <center>{{ 'sinconexion' | translate }} </center>
        </div>


        <!--refrescar-->
        <ion-refresher
            on-refresh="doRefresh()"
            refreshing-icon="ion-load-c"
            >

        </ion-refresher>
        <div class="list">
        <a class="item item-thumbnail-left" ng-repeat="promociones in promocionesEncontradas">
                <!-- <img src="img/ionic.png">-->

                <img class="ubica_img_promociones" ng-if="promociones.imagen" src="http://shoplist-shoplistrk.rhcloud.com/img/files/{{promociones.imagen}}">
                <img class="ubica_img_promociones"  ng-if="!promociones.imagen" src="img/noencontrado.gif">

                <div class="card ">
                    <div class="item item-divider  promocion_panel" >
                        <h2>{{ 'infpromo' | translate }} : {{promociones.nombre}}</h2>
                    </div>

                    <div class="item item-text-wrap ">
                        <h2>{{promociones.nom_prod}}</h2>
                        <p>{{ 'descripcionPromo' | translate }} : {{promociones.descripcion}}</p>
                    </div>
                    <div class="item item-divider">
                        <h2> PVP : $ {{promociones.pvp_prod}}</h2>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
