<ion-view view-title="{{ 'li' | translate }}"
          ng-init="getAllListas()"
          ng-controller="lenguajeCtrl">


    <!--<ion-nav-buttons side="left">
        <button menu-toggle="rigth" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>  -->

    <ion-nav-bar  class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> {{ 'atras' | translate }}
        </ion-nav-back-button>
    </ion-nav-bar>


    <ion-nav-buttons side="right">
        <button ng-controller="ubisupermercadoCtrl"
                ng-click="irSupermercado()"
                class="button button-icon icon ion-ios-navigate-outline calm"></button>
    </ion-nav-buttons>

    <ion-content class="contenedor_reducir">

        <!--presentar el nombre de la lista-->
        <a class="item item-icon-left disableActivate">
            <i class="icon ion-ios-browsers calm"></i>
            <center> {{nombreSupermercadoSelect}} </center>
        </a>

        <!--para refrescar-->
        <ion-refresher
            on-refresh="doRefresh()"
            refreshing-icon="ion-load-c">
        </ion-refresher>

        <ion-list>
        <!--listas-->
        <ion-item class="item item-thumbnail-left item-icon-right item-remove-animate"
                  ng-repeat="lista in getListas"
                  type="item-text-wrap"
                  href="#/listselect/{{lista.id}}">
                <img src="img/listaagregar.png" style="margin-top: 18px;">

                <div class="card">
                    <div class="item item-divider promocion_panel bar bar-header">
                        <h1 class="title">{{lista.nombre}}</h1>
                    </div>
                    <div class="item item-divider">
                        <h2> Total : $ {{lista.precio}}</h2>
                        <span class="item-note">
                            {{lista.fecha}}
                        </span>
                    </div>
                </div>

                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive"
                    ng-click="deleteLista(lista)">
                    {{ 'el' | translate }}
                </ion-option-button>
                <ion-option-button class="button-calm ion-android-create"
                    ng-click="showConfirm(lista)">
                    {{ 'ed' | translate }}
                </ion-option-button>

            </ion-item>

        </ion-list>
    </ion-content>

    <div class="tabs tabs-icon-top barra_bottom" ng-controller="NuevaListaCtrl">
        <a class="tab-item color_iconos" ng-click="login();">
            <i class="icon ion-compose"></i>
            {{ 'nl' | translate }}
        </a>
    </div>

</ion-view>
