<ion-view view-title="{{'supermercados' | translate}}" 
          hide-back-button="true" 
          ng-init="getAllSupermercados()">

    <ion-nav-buttons side="left">
        <button menu-toggle="rigth" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>  

    <ion-content class="contenedor_reducir">
        <div ng-if="!conexion_internet_super" class="estilo_conexion_internet">
            <center>{{ 'sinconexion' | translate }} </center>
        </div>
        <!--para refrescar-->
        <ion-refresher
            on-refresh="recargarSupermercados()"
            refreshing-icon="ion-load-c">
        </ion-refresher>

        <!--lista supermercados-->
        <ion-list>
            <ion-item class="item item-thumbnail-left item-icon-right item-remove-animate"
                ng-repeat="super in listasupermercados" type="item-text-wrap"
                href="#/listas"
                ng-click="cargarSupermercado(super.nombre_bd, super.promocion,
                    super.ubicacion_producto, super.listas, super.id_paypal, super.pagar_entrega)">

               <img src="img/supermercado.png">
                    <h2 class="nombreSupermercado" >{{super.nombre}}</h2>
               <i class="icon ion-chevron-right icon-accessory"></i>
                
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
