<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Crear Lista</h2>
    <div class="item item-text-wrap">
      <p>Presione el boton inferior "Nueva Lista"</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/nuevalistabutton.png">
  </div>
  <div class="item item-text-wrap">
    Después de haber seleccionado un supermercado, podrá crear una lista
  </div>
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Ingresar nombre</h2>
    <div class="item item-text-wrap">
      <p>Ingrese un nombre para la nueva lista</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/nuevalista.png">
  </div>
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Escanear producto</h2>
    <div class="item item-text-wrap">
      <p>Presione el boton "Escanear"</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/scanear.png">
  </div>
  <div class="item item-text-wrap">
    Ubique la camara en el centro del codigo de barra para que el dispositivo pueda leer el codigo, donde se presenta el producto encontrado y lo pueda agregar a la lista.
</div>
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Agregar producto</h2>
    <div class="item item-text-wrap">
      <p>Presione el boton "Agregar"</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/bottonagregar.png">
  </div>
  <div class="item item-text-wrap">
    Se presentara una ventana donde puede ingresar el nombre del producto a buscar, o las promociones disponibles para agregar a la lista.
</div>
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Buscar producto</h2>
    <div class="item item-text-wrap">
      <p>Ingrese un nombre de un producto a buscar, luego presionar en el icono "Buscar"</p>
      <!--ver imagen de buscar con productos-->
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/buscar.png">
  </div>
  <div class="item item-text-wrap">
    Se presentará una ventana donde puede ingresar el nombre del producto a buscar, en los productos encontrados se puede presionar el carrito de compras y se agregará automaticamente en la lista.
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Promociones Disponibles</h2>
    <div class="item item-text-wrap">
      <p>Presione el boton "Ver Promociones"</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/promociones.png">
  </div>
  <div class="item item-text-wrap">
    Si cuenta con promociones disponibles se presentarán en la ventana, donde al presionar en el carrito de compras ubicado en la parte superior derecha, se agregará esa promoción a la lista de compras con el descuento establecido.
</div>
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Comprar productos</h2>
    <div class="item item-text-wrap">
      <p>Presione el boton "Comprar"</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/tipoentrega.png">
  </div>
  <div class="item item-text-wrap">
    La aplicación le permitirá ingresar el tipo de compra, "Retirar" o "Entrega" , donde la primera el cliente deberá acudir al supermercado a retirar su lista de compras cuando se encuentre despachada, y la segunda el supermercado se encargará de enviarle sus productos comprados a su domicilio, con un costo adicional establecido por el supermercado.
</div>
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Pagar con paypal</h2>
    <div class="item item-text-wrap">
      <p>Presione el boton "Pagar con Paypal"</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/paypal.png">
  </div>
  <div class="item item-text-wrap">
    Deberá contar con una cuenta de paypal, ingrese sus datos de la cuenta y confirmar Pago.
</div>
</div>