<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Perfil</h2>
    <div class="item item-text-wrap">
      <p>Presione en el icono superior derecho para editar datos</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/perfil2.png">
  </div>

  <div class="item item-text-wrap">
    Luego de haber actualizado todos sus cambios presione en el boton "Guardar"
  </div>
</div>