<div class="card">
  <div class="item item-divider">
    Seccion del menu
  </div>
  <div class="item item-text-wrap">
    <div class="list">
      <div class="item item-divider" ng-click="vm.loadMenu('plate')">
        Platos
      </div>
      <div class="list">
        <a class="item item-thumbnail-left item-icon-right" href="#"
            ng-repeat="plate in vm.pedidos.platos">
          <img ng-src="{{plate.imagen}}">
          <h2> {{plate.nombre}} </h2>
          <p>Precio : ${{plate.valor}}</p>
          <p>
            <button class="button button-small" type="button" ng-click="plate.cantidad = plate.cantidad - 1"> - </button>
            <button class="button button-small" type="button"> {{plate.cantidad}} </button>
            <button class="button button-small" type="button" ng-click="plate.cantidad = plate.cantidad + 1"> + </button>
          </p>
          <p>
            <button class="button button-small ion-ios-cart-outline pull-rigth" type="button" ng-click="vm.addCar(plate)"></button>
          </p>
          <i class="icon ion-chevron-right icon-accessory" ng-click="vm.redirectoToProduct(plate, 'Plato')"></i>
        </a>
      </div>

      <div class="item item-divider" ng-click="vm.loadMenu('promo')">
        Promociones
      </div>
      <div class="list">
        <a class="item item-thumbnail-left item-icon-right" href="#" ng-repeat="promo in vm.pedidos.promociones">
          <img ng-src="{{promo.imagen}}">
          <h2>{{promo.nombre}}</h2>
          <p>Precio : ${{promo.valor}}</p>
          <p>
            <button class="button button-small" type="button" ng-click="promo.cantidad = promo.cantidad - 1"> - </button>
            <button class="button button-small" type="button"> {{promo.cantidad}} </button>
            <button class="button button-small" type="button" ng-click="promo.cantidad = promo.cantidad + 1"> + </button>
          </p>
          <p>
            <button class="button button-small ion-ios-cart-outline pull-rigth" type="button" ng-click="vm.addCar(promo)"></button>
          </p>
          <i class="icon ion-chevron-right icon-accessory" ng-click="vm.redirectoToProduct(promo, 'Promo')"></i>
        </a>
      </div>

      <div class="item item-divider" ng-click="vm.loadMenu('salad')">
        Ensaladas
      </div>
      <div class="list">
        <a class="item item-thumbnail-left item-icon-right" href="#" ng-repeat="salad in vm.pedidos.ensaladas">
          <img ng-src="{{salad.imagen}}">
          <h2>{{salad.nombre}}</h2>
          <p>Precio : ${{salad.valor}}</p>
          <p>
            <button class="button button-small" type="button" ng-click="salad.cantidad = salad.cantidad - 1"> - </button>
            <button class="button button-small" type="button"> {{salad.cantidad}} </button>
            <button class="button button-small" type="button" ng-click="salad.cantidad = salad.cantidad + 1"> + </button>
          </p>
          <p>
            <button class="button button-small ion-ios-cart-outline pull-rigth" type="button" ng-click="vm.addCar(salad)"></button>
          </p>
          <i class="icon ion-chevron-right icon-accessory" ng-click="vm.redirectoToProduct(salad, 'Salad')"></i>
        </a>
      </div>

      <div class="item item-divider" ng-click="vm.loadMenu('drink')">
        Bebidas
      </div>
      <div class="list">
        <a class="item item-thumbnail-left item-icon-right" href="#" ng-repeat="drink in vm.pedidos.bebidas">
          <img ng-src="{{drink.imagen}}">
          <h2>{{drink.nombre}}</h2>
          <p>Precio : ${{drink.valor}}</p>
          <p>
            <button class="button button-small" type="button" ng-click="drink.cantidad = drink.cantidad - 1"> - </button>
            <button class="button button-small" type="button"> {{drink.cantidad}} </button>
            <button class="button button-small" type="button" ng-click="drink.cantidad = drink.cantidad + 1"> + </button>
          </p>
          <p>
            <button class="button button-small ion-ios-cart-outline pull-rigth" type="button" ng-click="vm.addCar(drink)"></button>
          </p>
          <i class="icon ion-chevron-right icon-accessory" ng-click="vm.redirectoToProduct(drink, 'Drink')"></i>
        </a>
      </div>

      <div class="item item-divider" ng-click="vm.loadMenu('desseert')">
        Postres
      </div>
      <div class="list">
        <a class="item item-thumbnail-left item-icon-right" href="#" ng-repeat="dessert in vm.pedidos.postres">
          <img ng-src="{{desseert.imagen}}">
          <h2>{{dessert.nombre}}</h2>
          <p>Precio : ${{dessert.valor}}</p>
          <p>
            <button class="button button-small" type="button" ng-click="dessert.cantidad = dessert.cantidad - 1"> - </button>
            <button class="button button-small" type="button"> {{dessert.cantidad}} </button>
            <button class="button button-small" type="button" ng-click="dessert.cantidad = dessert.cantidad + 1"> + </button>
          </p>
          <p>
            <button class="button button-small ion-ios-cart-outline pull-rigth" type="button" ng-click="vm.addCar(dessert)"></button>
          </p>
          <i class="icon ion-chevron-right icon-accessory" ng-click="vm.redirectoToProduct(dessert, 'Desseert')"></i>
        </a>
      </div>

      <div class="item item-divider" ng-click="vm.loadMenu('entrance')">
        Entradas
      </div>
      <div class="list">
        <a class="item item-thumbnail-left item-icon-right" href="#" ng-repeat="entrance in vm.pedidos.entradas">
          <img ng-src="{{entrance.imagen}}">
          <h2>{{entrance.nombre}}</h2>
          <p>Precio : ${{entrance.valor}}</p>
          <p>
            <button class="button button-small" type="button" ng-click="entrance.cantidad = entrance.cantidad - 1"> - </button>
            <button class="button button-small" type="button"> {{entrance.cantidad}} </button>
            <button class="button button-small" type="button" ng-click="entrance.cantidad = entrance.cantidad + 1"> + </button>
          </p>
          <p>
            <button class="button button-small ion-ios-cart-outline pull-rigth" type="button" ng-click="vm.addCar(entrance)"></button>
          </p>
          <i class="icon ion-chevron-right icon-accessory" ng-click="vm.redirectoToProduct(entrance, 'Entrance')"></i>
        </a>
      </div>
    </div>
  </div>
</div>
