<ion-view  view-title="Sign-In" hide-nav-bar="true">

  <div class="bar bar-header bar-positive">
    <h1 class="title">Inicio de Session</h1>
  </div>
     <!--contenedor-->
    <ion-content class="bienvenidocontent">
      <div class="row">
        <div class="col">
          <!--img central-->

        </div>
      </div>

      <form name="formularioLogin">
      <br>
      <br>
          <center>
            <div class="contenedor_central content_central_img logoPrincipal">
            </div>
          </center>
        <div class="list placeholderIndex">
          <div class="list list-inset">
             <label class="item item-input">
              <i class="icon ion-ios-email-outline placeholder-icon"></i>
              <input type="email" placeholder="{{ 'correo' | translate }}"
                ng-model="user.email" required>
            </label>
            <label class="item item-input" >
            <i class="icon ion-unlocked placeholder-icon"></i>
              <input type="password" placeholder="{{'contrasenia'| translate }}"
                ng-model="user.password" required>
            </label>
          </div>
          <div class="padding link-login">
            <button class="button button-block button-positive"
              ng-disabled="formularioLogin.$invalid"
              ng-click="login(user)">
              <i class="ion-checkmark-circled"></i>
              Iniciar Seción
            </button>
            <p class="text-center">
              <a href="#/recuperarclave">Olvidaste la Contraseña</a>
            </p>
            <p class="text-center">
              <a href="#/registrarse">{{ 'registrarse' | translate }}</a>
            </p>
          </div>
        </div>
      </form>

    </ion-content>
</ion-view>
