<ion-view  view-title="{{ 'recupera_contrasenia' | translate }}">

  <ion-nav-bar  class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
          <i class="ion-arrow-left-c"></i> {{ 'atras' | translate }}
      </ion-nav-back-button>
  </ion-nav-bar>
    
     <!--contenedor-->
    <ion-content class="bienvenidocontent">
 
        <div class="row ">
          <div class="col">
                <!--img central-->
                <!--<div class="contenedor_central content_central_img ">
                </div>-->

          <center>
            <div class="contenedor_central content_central_img logoPrincipal">
            </div>
          </center>
                
          <form name="formularioRecuperar" ng-if="formRecuperar">
           <div class="list placeholderIndex">
            <label class="item item-input item-floating-label">
              <span class="input-label">{{ 'correo' | translate }}</span>
              <input type="email" placeholder="{{ 'correo' | translate }}" ng-model="recuperar.email" required>
            </label>
            </div>
            <div class="padding">
              <button class="button button-block button-positive"
                ng-disabled="formularioRecuperar.$invalid"
                ng-click="verificarCorreo(recuperar)">
                {{ 'verificar' | translate }}
              </button>
              <button class="button button-block button-calm" ng-click="cancelar()">
                {{ 'cancelar' | translate }}
              </button>
            </div>
            </form>

          <form name="formularioCodigo" ng-if="formCodigo">
           <div class="list placeholderIndex">
            <label class="item item-input item-floating-label">
              <span class="input-label">{{ 'codigo' | translate }}</span>
              <input type="text" placeholder="{{ 'codigo' | translate }}" ng-model="recuperar.codigo" required>
            </label>
            </div>
            <div class="padding">
              <button class="button button-block button-positive"
                ng-disabled="formularioCodigo.$invalid"
                ng-click="verificarCodigo(recuperar)">
                {{ 'verificar' | translate }}
              </button>
              <button class="button button-block button-calm" ng-click="cancelar()">
                {{ 'cancelar' | translate }}
              </button>
            </div>
          </form>

          <form name="formularioActualizar" ng-if="formActualizar">
           <div class="list placeholderIndex">
            <label class="item item-input item-floating-label">
              <span class="input-label">{{ 'contrasenia_nueva' | translate }}</span>
              <input type="password" placeholder="{{ 'contrasenia_nueva' | translate }}" ng-model="recuperar.clave" required>
            </label>
            </div>
            <div class="padding">
              <button class="button button-block button-positive"
                ng-disabled="formularioActualizar.$invalid"
                ng-click="actualizarContrasenia(recuperar)">
                {{ 'actualizar' | translate }}
              </button>
              <button class="button button-block button-calm" ng-click="cancelar()">
                {{ 'cancelar' | translate }}
              </button>
            </div>
          </form>

            </div>
        </div>
    </ion-content>
</ion-view>


