<ion-item class="item item-thumbnail-left item-icon-right item-remove-animate card-content"
          ng-repeat="product in pedidos track by $index"
          type="item-text-wrap">
    <img ng-src="{{product.imagen}}" style="margin-top: 37px;">

    <div class="card">
        <div class="item item-divider promocion_panel bar bar-header">
            <h1 class="title">{{product.nombre}}</h1>
        </div>
        <div class="item item-divider">
            <h2> Valor : $ {{product.valor}}</h2>
            <p>
              <button class="button button-small" type="button" ng-click="product.cantidad = product.cantidad - 1"> - </button>
              <button class="button button-small" type="button"> {{product.cantidad}} </button>
              <button class="button button-small" type="button" ng-click="product.cantidad = product.cantidad + 1"> + </button>
            </p>
        </div>
    </div>

    <i class="icon ion-chevron-right icon-accessory"></i>
    <ion-option-button class="button-assertive"
        ng-click="deleteProduct(product)">
        Eliminar
    </ion-option-button>
</ion-item>
