<div class="card">
  <div class="item item-divider">
    Restaurante : {{restaurant.nombre}}
  </div>
  <div class="item item-text-wrap">
    <div class="row">
      <div class="col">Producto</div>
      <div class="col">Cant.</div>
      <div class="col">Valor.U</div>
      <div class="col">Valor. T</div>
    </div>
    <div class="row" ng-repeat="pedido in pedidos track by $index">
      <div class="col">{{pedido.nombre}}</div>
      <div class="col">{{pedido.cantidad}}</div>
      <div class="col">{{pedido.valor}}</div>
      <div class="col">{{pedido.valor * pedido.cantidad}}</div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">SUBTOTAL : </div>
      <div class="col">{{subtotal}}</div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">VALOR ENVÍO : </div>
      <div class="col">{{restaurant.costoEnvio}} </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">TOTAL : </div>
      <div class="col">{{total}}</div>
    </div>
  </div>
  <button class="button button-full button-dark" ng-click="saveByProducts()">
    Pagar
  </button>
</div>
