<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Tus pedidos</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="doModal()">Cerrar</button>
    </div>
  </ion-header-bar>
  <div class="tabs tabs-icon-top barra_bottom">
      <a class="tab-item color_iconos" ng-click="showList()">
          <i ng-if="pedidoTypeName === 'Editar'" class="icon ion-edit calm"></i>
          <i ng-if="pedidoTypeName !== 'Editar'" class="icon ion-clipboard calm"></i>
          {{pedidoTypeName}}
      </a>
  </div>

  <ion-content>
    <form ng-submit="doModal()">
        <ion-list>
          <div ng-if="pedidoTypeName === 'Editar'" ng-include="'restaurant/modal/list.tpl.html'"></div>
          <div ng-if="pedidoTypeName !== 'Editar'" ng-include="'restaurant/modal/edit.tpl.html'"></div>
        </ion-list>
    </form>
  </ion-content>
</ion-modal-view>
