<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Inicio</h2>
    <div class="item item-text-wrap">
      <p>Presenta todas las listas creadas</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/inicio.png">
  </div>

  <div class="item item-text-wrap">
    Si no contiene listas creadas, debe ir a la seccion de Supermercados seleccionar el supermercado que desee y crear listas.
  </div>
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Editar o Eliminar</h2>
    <div class="item item-text-wrap">
      <p>Para editar o eliminar presione la lista y desplacela hacia la izquierda, luego presionar el boton "eliminar" o "editar"</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/eliminareditar.png">
  </div>

</div>
