<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Supermercados</h2>
    <div class="item item-text-wrap">
      <p>En lista los supermercados registrados en el sistema</p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/supermercados.png">
  </div>

  <div class="item item-text-wrap">
    Presione en cualquier nombre del supermercado que usted desea, para empezar a crear listas y realizar sus pedidos.
  </div>
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Ubicacion del Supermercado</h2>
    <div class="item item-text-wrap">
      <p>Seleccione el icono en la parte superior derecha para ver detalles y ubicación del supermercado
      </p>
    </div>
  </div>
  <div class="item item-image">
    <img src="img/manual/ubicacion.png">
  </div>
</div>