<ion-view view-title="Pedidos">

    <ion-nav-buttons side="left">
        <button menu-toggle="rigth" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="contenedor_reducir">
        <ion-list>
          <div class="button-bar">
            <a class="button" ng-click="vm.loadData('activos')">Activos</a>
            <a class="button" ng-click="vm.loadData('entregado')">Entregado</a>
          </div>
            <ion-item class="item item-thumbnail-left item-icon-right item-remove-animate"
                ng-repeat="rest in vm.filterOrdersPlaced"
                type="item-text-wrap"
                ui-sref="orderDetail"
                ng-click="vm.setOrder(rest)">
                <img src="{{rest.imagen_restaurante}}"/>
                <h2>Restaurante : {{rest.nombre_restaurante}}</h2>
                <h2>Valor : {{rest.costo}}</h2>
                <h2>Estado : {{rest.estado}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <span class="item-note ">
                     {{rest.fecha_pedido}}
                </span>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
