<ion-view title="Mapa del pedido" id="page2">

  <ion-nav-bar  class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
          <i class="ion-arrow-left-c"></i> Atrás
      </ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content padding="true" class="has-header">

      <div id="map-canvas">

      </div>

    <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="origin" class="col-sm-2 control-label">Origin</label>
            <div class="col-sm-8">
              <input type="text" id="origin" class="form-control" ng-model="directions.origin" />
            </div>
          </div>
          <div class="form-group">
            <label for="destination" class="col-sm-2 control-label">Destination</label>
            <div class="col-sm-8">
              <input type="text" id="destination" class="form-control" ng-model="directions.destination" />
            </div>
          </div>
          <div class="form-group">
            <label for="destination" class="col-sm-2 control-label">Distancia y tiempo de entrega</label>
          </div>
        </form>
        {{vm.latitude}} >>> {{vm.longitude}}
      <div id="directionsList" ng-show="vm.directions.showList" class="panel panel-primary"></div>

  </ion-content>
</ion-view>
