<ion-view view-title="{{productSelect.nombre}}">

    <ion-nav-bar  class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Atrás
        </ion-nav-back-button>
    </ion-nav-bar>

    <!--contenedor para el detalle de un producto-->
    <ion-content class="padding">
        <div class="list card">
            <center>
                <div>
                    <img ng-src="{{vm.orderSelected.imagen_restaurante}}" height="100" width="100">
                </div>
            </center>
        </div>
        <div class="card">
          <div class="item item-divider">
            <center> {{vm.orderSelected.nombre_restaurante}} </center>
          </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class="col">Producto</div>
              <div class="col">Cant.</div>
              <div class="col">Valor.U</div>
              <div class="col">Valor. T</div>
            </div>
            <div class="row" ng-repeat="pedido in vm.productsOrders">
              <div class="col">{{pedido.nombre}}</div>
              <div class="col">{{pedido.cantidad}}</div>
              <div class="col">{{pedido.valor}}</div>
              <div class="col">{{pedido.valor * pedido.cantidad}}</div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">SUBTOTAL : </div>
              <div class="col">{{vm.subtotal}}</div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">VALOR ENVÍO : </div>
              <div class="col">{{vm.orderSelected.costo_envio}} </div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">TOTAL : </div>
              <div class="col">{{vm.total}}</div>
            </div>
          </div>
          <a class="item item-icon-left item-icon-right" ui-sref="map" ng-disable="true">
           <i class="icon ion-bag"></i>
           Estado : {{vm.orderSelected.estado}} <div class="pull-rigth-button-map">Ver mapa</div>
           <i class="icon ion-map"></i>
         </a>
        </div>

    </ion-content>
  </ion-view>
