<ion-view view-title="{{vm.restaurant.nombre}}">

    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear" ng-click="vm.confirmDestroyOrder()">
            <i class="ion-arrow-left-c"></i> Atrás
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
      <a ng-controller="ModalController"
         ng-click="openModal()"
         class="button button-icon icon ion-bag calm"> <button class="button button-assertive icon"> {{vm.numberProducts}} </button></a>
    </ion-nav-buttons>

    <ion-content class="padding">

      <div class="animated bounceInLeft"
        data-ng-include="vm.loadTemplate">
      </div>

    </ion-content>
    <!--sub menu-->
    <div class="tabs tabs-icon-top barra_bottom">
        <a class="tab-item color_iconos" ng-click="vm.changeTo('restaurant')"> <i class="icon ion-ios-albums"></i>Inicio</a>
        <a class="tab-item color_iconos" ng-click="vm.changeTo('menu')"> <i class="icon ion-ios-albums"></i>Menú</a>
        <a class="tab-item color_iconos" ng-click="vm.changeTo('comment')"> <i class="icon ion-ios-albums"></i>Comentarios</a>
    </div>
</ion-view>
